APP_NAME=AgentForge
DEBUG=true
API_PREFIX=/api

DATABASE_URL=postgresql+asyncpg://forge:forgepass@localhost:5432/agentforge
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

HELA_RPC_URL=https://testnet-rpc.helachain.com
HELA_CHAIN_ID=666888
PRIVATE_KEY=
AGENT_NFT_ADDRESS=0x856D6EfEd2D248Bd962242d1756539cdd2f84F1F
FORGE_TOKEN_ADDRESS=0x73ed7b98a7f2aaF263357D77898d1734BCBA951E
ERC6551_REGISTRY_ADDRESS=0x2894CEbA0E8F958355E702430C7F3113B3507101
ERC6551_ACCOUNT_ADDRESS=0x8be0CC2C011D86Bf835442EF1F82ed6c20f30152
JOB_ESCROW_ADDRESS=0x39458D33f37C9f35C71E0b2dad9E82729DbFC005
RENTAL_MARKET_ADDRESS=0xC045a76587AfbAEb59bF52d68751f09621381a82

GEMINI_API_KEY=
PRISM_API_KEY=
PRISM_BASE_URL=https://strykr-prism.up.railway.app

PINATA_API_KEY=
PINATA_SECRET_KEY=
IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/

JWT_SECRET_KEY=change-this-in-prod
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
